.latobold{
font-family: Lato;
font-weight: bold;
}



.latothin{
  font-family: Lato;

}

.size {
    width: 50px;
    height: 50px;
  
  }


  


    //Logo team projects
    
    .logo {
      width: 50px;
      height: 50px;
    }
    
    .flex{
      display: flex;
      justify-content: space-evenly;
    
    }

      
  //HomePage background color
  ion-content {
    --ion-background-color: #BDD6F0;
    
    }
    