
<ion-content>

<br>
<br>
<br>
<br>

<ion-row class="flex">
  <ion-text class="latothin">


<!-- Hobbies title -->

  <h1> Hobbies </h1>

  </ion-text>


  <!-- Hobbies logo -->

<ion-img class='logo' :src="./assets/hobbies.png"></ion-img>

</ion-row>

<br>
<br>
    


  <!-- Ion list component containing hobbies items-->

  <ion-list>

    <!-- Coding item -->

    <ion-item>
    <ion-thumbnail slot="start">
    <ion-img class='size' :src="./assets/github.png"></ion-img>
    </ion-thumbnail>
      <ion-label>
<ion-text color="tertiary">
  <h1 class="latobold"> Coding </h1> 
  </ion-text>
   

      </ion-label>
    </ion-item>

     <!-- Hiking and trekking item -->

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img class='size' :src="./assets/moutain.png"></ion-img>
      </ion-thumbnail>
        <ion-label>
          <ion-text color="tertiary">
            <h1 class="latobold"> Hiking and trekking</h1> 
          </ion-text>
         
    </ion-label>
      </ion-item>

      <!-- Running item -->

      <ion-item>
        <ion-thumbnail slot="start">
        <ion-img class='size' :src="./assets/running.png"></ion-img>
        </ion-thumbnail>
          <ion-label>
            <ion-text color="tertiary">
            <h1 class="latobold"> Running</h1> 
            </ion-text>
          </ion-label>
        </ion-item>
    
  <!-- Singing lessons item -->

        <ion-item>
          <ion-thumbnail slot="start">
          <ion-img class='size' :src="./assets/sing.png"></ion-img>
          </ion-thumbnail>
            <ion-label>
              <ion-text color="tertiary">
              <h1 class="latobold"> Singing lessons</h1> 
              </ion-text>
            </ion-label>
          </ion-item>

  </ion-list>

</ion-content>
