
<ion-content>

  <ion-col class="ion-justify-content-center">  
    <br>
    <br>
    <br>
    <br>
  

<ion-row class="flex">
  <ion-text class="latothin">


<!-- Personal Projects title -->

  <h1> Personal Projects </h1>

  </ion-text>

<!-- Personal Projects logo -->


<ion-img class='logo' :src="./assets/personproject.png"></ion-img>

</ion-row>
    

<!-- Ion card containing the informations of the developement of a movie information app -->


    <ion-card class="cardsize">
      <ion-col size="3">
        <div class="ion-text-center">
          <ion-text color="primary" class="latobold"> 
          <h3> November 2020</h3>
              </ion-text>
        <div class="ion-text-center">
                <ion-text color="tertiary" class="latobold"> 
                <h1> Development of a movie information APP</h1>
                    </ion-text>
          <ion-text color="tertiary" class="latothin"> 
          <p> Description: Development of a movie information App using Live XML-REST API, JavaScript, CSS, Bootsrap </p>
          </ion-text>
           </div>
          </div>
      </ion-col>
    </ion-card>
    </ion-col>
     
   
  
  <!-- Ion card containing the informations of the developement of a pizzeria web-site -->
  
      

         
          <ion-card class="cardsize">   
            <ion-col size="3">
            <div class="ion-text-center">
          <ion-text color="primary" class="latobold"> 
          <h3> March 2020</h3>
              </ion-text>
            
              <div class="ion-text-center">
                <ion-text color="tertiary" class="latobold"> 
                <h1> Development of a pizzeria web-site</h1>
                    </ion-text>

        
          <ion-text color="tertiary" class="latothin"> 
          <p> Description: Development of a pizzeria website using HTML, JavaScript and Bootstrap frameworks </p>
          </ion-text>
           </div>
          </div>
      
              </ion-col>
              </ion-card>
     


</ion-content>
