  
      //HomePage background color

      ion-content {
    --ion-background-color: #BDD6F0;
    
    }


    //Color of Ion card 

    ion-card{

      --ion-background-color: white;

    }
    
    
    
    //Space-evenly between personal projects title and personal projects logo 
    
    .flex{
      display: flex;
      justify-content: space-evenly;
    
    }
    
    //Font Roboto
    .roboto{
      font-family: 'Roboto';
    
    
    }

    //Font Lato bold
  
  .latobold{
  
      font-family: 'Lato';
      font-weight: bold;
  
  }
  

   //Font Lato thin

  .latothin{
  
      font-family: 'Lato';
  
  }
  
  
    
  //Logo personal projects
    
    .logo {
      width: 50px;
      height: 50px;
    }
    
    
//Dimensions of the ion-card
    
    .cardsize{
  
      width: 340px;
      height: 230px;
      border: 30px;
  
  }