<ion-content >

    <ion-toolbar>
      <ion-title > 
        Personal Profile
      </ion-title>
      
        </ion-toolbar>



    <ion-row class="ion-justify-content-center">
      <ion-text class="latothin">
      <h1> Personal Profile </h1>
    
      </ion-text>
    
    
    <ion-img class='logo' :src="./assets/cv.png"></ion-img>
    
    </ion-row>

  <ion-row class="ion-justify-content-center">   
<ion-img class='size' :src="./assets/image.png"></ion-img>
</ion-row>

<br>

  <ion-col>
          <div class="ion-text-center">
                  <ion-text color="tertiary"> 
                  <h1 class="latobold">Juliette Saleres</h1>
                  </ion-text>
          
  
          <ion-text color="tertiary"> 
          <h4 class="latobold" > Web and Mobile app designer </h4>
          </ion-text>
  </div>

</ion-col>
  
      <ion-col class="ion-justify-content-center">   
  <ion-card color="success" class="cardsize">
    <div class="ion-text-center">
      <ion-text color="tertiary" class="latobold"> 
  <h2> About me </h2>
      </ion-text>
      <ion-text color="tertiary" class="latothin"> 
  <p> Currently a 4th year student at Laurea University of Applied Sciences in Business Information of Technology.</p>
      </ion-text>
      <ion-text color="tertiary" class="latobold"> 
  <h2> Education </h2>
      </ion-text>

      <ion-text color="primary" class="latobold"> 
  <h2> 2020-2022</h2>
      </ion-text>

  <ion-text color="tertiary" class="latothin"> 
  <p> Master degree’s in Management Information Technology and Innovation</p>
  </ion-text>
   </div>


  </ion-card>
      </ion-col>
      <ion-row class="ion-justify-content-center">   
      <ion-button href='/contact' size="large" color="tertiary"> CONTACT ME </ion-button>
      </ion-row>
</ion-content>





