  
  //HomePage background color
  ion-content {
    --ion-background-color: #BDD6F0;
    
    }
    
    //Space-evenly between team projects title and team projects logo 
    
    .flex{
      display: flex;
      justify-content: space-evenly;
    
    }
    
    //Font Roboto
    .roboto{
      font-family: 'Roboto';
    
    
    }

    //Font Lato bold
  
  .latobold{
  
      font-family: 'Lato';
      font-weight: bold;
  
  }
  

  //Font Lato thin

  .latothin{
  
      font-family: 'Lato';
  
  }
  
    
    
    //Dimensions of the Laurea and TeamWork logos 
    
    .size {
      width: 70px;
      height: 70px;
    
    }



    //Logo team projects
    
    .logo {
      width: 60px;
      height: 60px;
    }
    
    
  //Dimensions of the ion-card
    
    .cardsize{
  
      width: 340px;
      height: 320px;
      border: 30px;
  
  }
