
<ion-content>
  <br>
  <br>
  <br>

  <ion-col class="ion-justify-content-center">   

<ion-row class="flex">
  <ion-text class="latothin">
  <h1> Team Projects </h1>

  </ion-text>


<ion-img class='logo' :src="./assets/people.png"></ion-img>

</ion-row>




    <ion-card color="success" class="cardsize">

     

      <div class="ion-text-center">
        <ion-text color="tertiary" class="latobold"> 
    <h3> Laurea University FINLAND </h3>
        </ion-text>

        <ion-row class="ion-justify-content-center">   

          <ion-img class='size' :src="./assets/laurea.png"></ion-img>
          </ion-row>
    

        <ion-text color="tertiary" class="latothin"> 
    <h4>Development of a mobile application in pairs</h4>
        </ion-text>
  
    <ion-text color="primary" class="latobold"> 
    <h3> October – November 2020</h3>
        </ion-text>
  
    <ion-text color="tertiary" class="latothin"> 
    <p> Description: Development of an ecofriendly test application with the Ionic 5 and Angular framework</p>
    </ion-text>
     </div>
  
  
    </ion-card>
        </ion-col>



        <ion-col class="ion-justify-content-center">   
          <ion-card color="success" class="cardsize">
      
           
      
            <div class="ion-text-center">
              <ion-text color="tertiary" class="latobold"> 
          <h3> TEAMWORK Geneva </h3>
              </ion-text>
      
              <ion-row class="ion-justify-content-center">   
      
                <ion-img class='size' :src="./assets/teamwork.png"></ion-img>
                </ion-row>
          
      
              <ion-text color="tertiary" class="latothin"> 
          <h4>Traineeship Mobile Developper</h4>
              </ion-text>
        
          <ion-text color="primary" class="latobold"> 
          <h3> May – July 2020</h3>
              </ion-text>
        
          <ion-text color="tertiary" class="latothin"> 
          <p> Description: Prototype of a mobile wealth management application in Flutter for the Wize By TeamWork Product</p>
          </ion-text>
           </div>
        
        
          </ion-card>
              </ion-col>



</ion-content>
