<ion-content>

<br>
<br>
<br> 
<br>

<ion-row class="flex">


<!-- Soft skills title -->

  <ion-text class="latothin">
  <h1> Soft skills </h1>

  </ion-text>

  <!-- Soft skills logo -->

<ion-img class='logo' :src="./assets/softskills.png"></ion-img>

</ion-row>
    

<br> 

  <!-- Ion list component containing soft skills items-->

  <ion-list>

<!-- Project management item -->

    <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Project management</h1>
           </ion-text>
  
  </ion-label>
      </ion-item>


<!-- Communication item -->

      <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Communication</h1>
           </ion-text>
  
  </ion-label>
      </ion-item>

<!-- Ability to work in a team item -->

      <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Ability to work in a team</h1>
           </ion-text>
      </ion-label>
      </ion-item>

      <!-- Discovery of new technologies item -->

      <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Discovery of new technologies</h1>
           </ion-text>
      </ion-label>
      </ion-item>

      <!-- Listening ability item -->

      <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Listening ability</h1>
           </ion-text>
      </ion-label>
      </ion-item>


      <!-- Patience item -->

      <ion-item>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h1>Patience</h1>
           </ion-text>
      </ion-label>
      </ion-item>

      </ion-list>

</ion-content>
