     <!-- Juliette Saleres ; Laurea Student number : 2003989 -->
     
<ion-content >

  <ion-col>
          <div class="ion-text-center">
                  <ion-text color="primary"> 


                    <!-- My CV title -->

                  <h1 class="robotobold">MY CURRICULUM</h1>
                  </ion-text>

                  <ion-text color="primary"> 
                    <h1 class="robotobold">VITAE</h1>
                    </ion-text>
          <br>
  
          <ion-text color="primary"> 
          <h2 class="roboto" > APP </h2>
          </ion-text>
  </div>

  <ion-row class="ion-justify-content-center">   

    <ion-img class='size' :src="./assets/cv.png"></ion-img>
    </ion-row>

  </ion-col>

  <br>
  <br>
  <br>



<ion-col>

  <ion-row class="ion-justify-content-center">   

     <!-- Button to access to the log in page -->

   <ion-button href="login" size="large" color="primary" shape="round" > TAP TO START </ion-button>

  </ion-row>

  </ion-col>

</ion-content>



