
//HomePage background color
ion-content {
  --ion-background-color: #BDD6F0;
  
  }

  // Email and password images

  .image{
      width: 46px;
      height: 50px;
  }



// Sizw of cards for items email and password

  .cardsize{

      width: 280px;
      height: 45px;

  }

  // Dimensions of card


  .minicard{

      width: 305px;
   

  }


  //Roboto font


.roboto{
  font-family: 'Roboto';


}

  // Bold Roboto font

.robotobold{
  font-family: 'Roboto';
  font-weight: bold;


}


    
    //Justification between Social Networks logos
    
    .flex{
      display: flex;
      justify-content: space-evenly;
    
    }





    //CV picture dimensions
    
    .size {
      width: 110px;
      height: 110px;
    
    }
    
    //Dimensions logo social networks
    
    .logo {
      width: 40px;
      height: 40px;
    }
    
    
    