//HomePage background color
ion-content {
    --ion-background-color: #BDD6F0;
    
    }
    
    
    
    //Justification between Social Networks logos
    
    .flex{
      display: flex;
      justify-content: space-evenly;
    
    }
    
    //Font Roboto Bold
    .robotobold{
      font-family: 'Roboto';
      font-weight: bold;
      font-size: xx-large;
    
    }
  
      //Font Roboto thin
      .roboto{
        font-family: 'Roboto';
      
      }
  
    
    
    //CV picture dimensions
    
    .size {
      width: 330px;
      height: 220px;
    
    }
    
    //Dimensions logo social networks
    
    .logo {
      width: 40px;
      height: 40px;
    }
    
    
    // Username and password images

    .image{
      width: 46px;
      height: 50px;
  }

  // Size of cards


  .cardsize{

      width: 280px;
      height: 45px;

  }
  .minicard{

      width: 305px;
   

  }




