<ion-content>


  <ion-col>
    <div class="ion-text-center">
            <ion-text color="primary"> 
            <h1 class="robotobold">MY CURRICULUM</h1>
            </ion-text>

            <ion-text color="primary"> 
              <h1 class="robotobold">VITAE</h1>
              </ion-text>
    <br>

    <ion-text color="primary"> 
    <h2 class="roboto" > APP </h2>
    </ion-text>
</div>
</ion-col>


<ion-row class="ion-justify-content-center">   
<ion-card class="minicard" color="light" shape="round">

    <ion-row class="ion-justify-content-center">   


<ion-img class='image' :src="./assets/mail.png"></ion-img>
  </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="secondary" class="cardsize">
  <ion-item color="primary">

 <ion-label> Email: </ion-label>
  <ion-input> </ion-input>

  </ion-item>
  
 
</ion-card>
    </ion-row>
    
  
<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/password.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">  
      
      
      <ion-card color="medium" class="cardsize">
        <ion-item color="primary">

          <ion-label>Password : </ion-label>
    <ion-input> </ion-input>
         
           </ion-item>

         
      </ion-card>
  
    </ion-row>
 
          <br>


        
</ion-card>
</ion-row>

<br>
<br>

<ion-row class="ion-justify-content-center">  
  <ion-button href="/tabs" size="large" color="secondary">LOG IN </ion-button>
  <br>

  </ion-row>

</ion-content>



