#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .header {
    background-color: #2196F3;
    height : 200 px;
    padding-top: 4px;
  
  }
  
  //HomePage background blue color
  ion-content {
  --ion-background-color: #BDD6F0;
  
  }
  
  
  //Font Roboto
  .roboto{
    font-family: 'Roboto';
  
  
  }

  //Font Lato bold

.latobold{

    font-family: 'Lato';
    font-weight: bold;

}

 //Font Lato thin

.latothin{

    font-family: 'Lato';

}

  
  
  //CV Picture dimensions
  
  .size {
    width: 130px;
    height: 130px;
  
  }


  //Icons dimensions of items
    
  .sizelogo {
    width: 40px;
    height: 40px;
  
  }
  
  