<ion-content >

    <!-- Button on the left to go back to the personal profile page-->
  
  <ion-button color="primary" href="/tabs"> 
    <ion-icon name="chevron-back-circle-outline"></ion-icon>
    Back
  </ion-button>
  <br>

<ion-row class="ion-justify-content-center">
  <ion-text class="latothin">

     <!-- Contact me title -->

  <h1> Contact me </h1>

  </ion-text>

  <br>

  </ion-row>

  <ion-row class="ion-justify-content-center">   
  
   <!-- CV image -->

  <ion-img class='size' :src="./assets/image.png"></ion-img>
  </ion-row>

  <ion-col>
        <div class="ion-text-center">
          <ion-text color="tertiary"> 

   <!-- Name title -->

          <h1 class="latobold">Juliette Saleres</h1>
          </ion-text>
      
  </div>

  </ion-col>

    <ion-col class="ion-justify-content-center">   

  <!-- Ion list component containing contact information items-->

  <ion-list>

<!-- Number phone item -->
      <ion-item>
    <ion-thumbnail slot="start">
      <ion-img class='sizelogo' :src="./assets/phone.png"></ion-img>
    </ion-thumbnail>
      <ion-label>

        <ion-text class="latothin" color="tertiary"> 
          <h2>+33 6 52 85 08 60</h2>
         </ion-text>

</ion-label>
    </ion-item>

    <!-- Adress item -->

    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img class='sizelogo' :src="./assets/location.png"></ion-img>
      </ion-thumbnail>
        <ion-label>
          <ion-text class="latothin" color="tertiary"> 
            <h2>10 lotissement de la Ravoire</h2>
            <h2> 74 490 Saint Jeoire</h2>
          </ion-text>

  </ion-label>
      </ion-item>

    <!-- Email item -->

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img class='sizelogo' :src="./assets/mailcontact.png"></ion-img>
        </ion-thumbnail>
          <ion-label>

            <ion-text class="latothin" color="tertiary"> 
              <h2>saleresjuliette@gmail.com</h2>
            </ion-text>

    </ion-label>
        </ion-item>

        <!-- Linkedin item -->

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img class='sizelogo' :src="./assets/linkedin.png"></ion-img>
        </ion-thumbnail>
          <ion-label>
            <ion-text class="latothin" color="tertiary"> 
    <h2>https://www.linkedin.com/in/</h2>
      <h2>juliette-s-a0850b154</h2>
      </ion-text>
    </ion-label>
        </ion-item>

    </ion-list>

    </ion-col>
  
</ion-content>
