<ion-content>

  <ion-header>
  <ion-toolbar>
    <ion-icon size="large" name="menu-outline"></ion-icon>
    <div class="ion-text-center">
  </div>

  <ion-buttons slot="star">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="personalprofile">
      <ion-icon name="person-outline"></ion-icon> 
      <ion-label>Personal Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="techskills">
      <ion-icon name="bulb-outline"></ion-icon>
      <ion-label>Tech skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="softskills">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Soft skills</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="teamprojects">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Team projects </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="personalprojects">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Personal projects </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobbies">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Hobbies </ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
