
  
  //HomePage background color
  ion-content {
    --ion-background-color: #BDD6F0;
    
    }


//Tick image

.size {
    width: 30px;
    height: 30px;
  
  }

//Latothin font
    
  .latothin{
  
    font-family: 'Lato';

}

  
//Logo technical skills
    
    .logo {
      width: 55px;
      height: 55px;
    }
    