
  
  //HomePage background color
  ion-content {
    --ion-background-color: #BDD6F0;
    
    }

.size {
    width: 30px;
    height: 30px;
  
  }

  .flex{
    display: flex;
    justify-content: space-evenly;
  
  }

    
  .latothin{
  
    font-family: 'Lato';

}
  


    //Logo team projects
    
    .logo {
      width: 55px;
      height: 55px;
    }
    