<ion-content>

  <br>
  <br>
  <br>
  

  <ion-row class="ion-justify-content-center">
   
    <ion-text class="latothin">

<!-- Technical skills title -->

    <h1> Technical skills </h1>
</ion-text>
  
  
<!-- Technical skills logo -->

  <ion-img class='logo' :src="./assets/techskills.png"></ion-img>

  </ion-row>


  <!-- Ion list component containing technical skills items-->

  <ion-list>
    <ion-item>

<!-- UX and UI design principles item -->

    <ion-thumbnail slot="start">
    <ion-img class='size' :src="./assets/tick.png"></ion-img>
    </ion-thumbnail>
      <ion-label>UX and UI design principles</ion-label>
    </ion-item>


  <!-- Experience in Ionic 5 and Angular item -->  

    <ion-item>
      <ion-thumbnail slot="start">
      <ion-img class='size' :src="./assets/tick.png"></ion-img>
      </ion-thumbnail>
        <ion-label>
  <h2>Experience in Ionic 5 and Angular</h2>
  <p> Frameworks to develop hybrid </p>
  <p>mobile apps</p>
  </ion-label>
      </ion-item>


<!-- Experience in HTML5, CSS...-->  

      <ion-item>
        <ion-thumbnail slot="start">
        <ion-img class='size' :src="./assets/tick.png"></ion-img>
        </ion-thumbnail>
          <ion-label>
            <h2> Experience in HTML5, CSS </h2>
             <h2>JavaScript, TypeScript</h2>
 
          </ion-label>
        </ion-item>

<!-- Experience in Flutter framework item-->  
    
        <ion-item>
          <ion-thumbnail slot="start">
          <ion-img class='size' :src="./assets/tick.png"></ion-img>
          </ion-thumbnail>
            <ion-label>
              <h2> Experience in Flutter framework</h2>
               <h2>with Dart language</h2>
   
            </ion-label>
          </ion-item>

<!-- Experience using git-based item-->  

        <ion-item>
          <ion-thumbnail slot="start">
          <ion-img class='size' :src="./assets/tick.png"></ion-img>
          </ion-thumbnail>
            <ion-label>
              <h2> Experience using git-based </h2>
              <h2> workflow tools and concepts </h2>
  
            </ion-label>
          </ion-item>

<!-- Object-oriented programming item-->  

          <ion-item>
            <ion-thumbnail slot="start">
            <ion-img class='size' :src="./assets/tick.png"></ion-img>
            </ion-thumbnail>
              <ion-label>
                <h2>  Object-oriented programming</h2>
                <h2>(Java)</h2>
    
              </ion-label>
            </ion-item>
    
  




  </ion-list>

</ion-content>
